---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
    {% include post-in-list.html %}
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ '/' | absolute_url }}">Újabbak</a>
    {% else %}
      <a class="pagination-item newer" href="{{ paginator.previous_page_path | absolute_url }}">Újabbak</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Újabbak</span>
  {% endif %}
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | absolute_url }}">Régebbiek</a>
  {% else %}
    <span class="pagination-item older">Régebbiek</span>
  {% endif %}
</div>
