{% assign foldername = include.path | remove: "_posts/" | remove: ".md" | append: "/" | prepend: "/" %}
{% assign images = site.static_files | where_exp:"file", "file.path contains foldername" %}

{% if (page.gallery) and images.first %}
  <p class="autogallery">
  {% for image in images %}
    {% unless image.path contains 'nogallery' %}
      <a href="{{ site.baseurl }}{{ image.path }}"><img src="{{ site.baseurl }}{{ image.path }}" class="autogallery-img"></a>
    {% endunless %}
  {% endfor %}
  </p>
{% endif %}
