---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}

  {% include gallery.html path=page.path%}

</div>

<div class="followit--follow-form-container" attr-a attr-b attr-c attr-d attr-e attr-f>
  <form data-v-390679af="" action="https://api.follow.it/subscription-form/Ym9iTXhZVE4rUTVDMmxHQ1p5UWVwWkgySWQ4SGprSVFHMWwrL1M2U3F5Y0l6T1QxQVBzbDlyK2FpdlFUU1M0QjdaKzRmQVp5cndLdHlTbmFuYVpoeFNTVjVNcFMwcWpqVXl4Tk5ObG1wb3kvYzVBajNoRCtiWjNGdWU4UDN1SmF8dURyZkxIeUhRbkYyaXVLc1VBWWFvcjdvMU8xY1dVYTFWMVJOSldRb1JLVT0=/8" method="post">
    <div data-v-390679af="" class="form-preview" style="background-color: rgb(255, 255, 255); position: relative;">
      <div data-v-390679af="" class="preview-heading">
        <h5 data-v-390679af="" style="text-transform: none !important; font-family: Montserrat; font-weight: bold; color: rgb(0, 0, 0); font-size: 16px; text-align: left;">
          Kérek emailt az új bejegyzésekről
        </h5>
      </div>
      <div data-v-390679af="" class="preview-input-field">
        <input data-v-390679af="" type="email" name="email" required="required" placeholder="E-mail cím" spellcheck="false" style="text-transform: none !important; font-family: Montserrat; font-weight: normal; color: rgb(0, 0, 0); font-size: 14px; text-align: center; background-color: rgb(255, 255, 255);">
      </div>
      <div data-v-390679af="" class="preview-submit-button">
        <button data-v-390679af="" type="submit" style="text-transform: none !important; font-family: Montserrat; font-weight: bold; color: rgb(255, 255, 255); font-size: 16px; text-align: center; background-color: rgb(0, 0, 0);">
          Feliratkozás
        </button>
      </div>
    </div>
  </form>
</div>

{% if site.related_posts.size >= 1 %}
<div class="related">
  <h2>Related posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
{% endif %}
